@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    margin: 0;
    padding: 0;
}

.main-container{
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.container-0{
    height: auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
}

.banner-fluid{
    width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.main-container svg{
    width: 80%;
   
}

.bloco__texto--banner{
    display: flex;
    width: 385px;
    height: auto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}

.bloco__texto--banner h2{
    font-size: 42px;
}

.container-2{
  display: flex;
  flex-direction: column;
}

.container-2__card-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  max-width: 1313px;
}


.container-2__card-grid img{
  width: 430px;  
  padding: 4px;
}

.container-2__card-grid h4{
  padding: 0;
}

/* Container-1*/


.container-1{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}

.card {
    width:215px;
    height:215px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 16px;
    text-align: center;
  }

  .card svg {
    border-radius: 4px;
    width: 65px;
    height: 65px;
  }

  .card h2 {
    margin-bottom: 8px;
    color: #333;
  }

  .card p {
    color: #666;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .svg__texto{
    margin-top: 50px;
  }

  .container-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
  }

  .container-2__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
  }

  .container-2__texto h2{
    font-size: 18px;
    margin: 5px;
  }

  .container-2__texto h4{
    font-size: 42px;
    padding: 0;
    margin: 5px;
  }

  .container-2__texto p{
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin: 5px;
    line-height: 20px;
  }

  .container-3{
    display: flex;
    width: 100%;
    height: 492px;
    background-color:#4184f4;
    margin-bottom: 120px;
    margin-top: 20px;
    box-sizing: border-box;
    max-width: 1305px;
  }


  .navegue , .navegue-2{
   max-width: 100%;
   height: 492px;
  }

.container-4{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.conteudo__texto{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.container-4 img{
  max-width: 100%;
  height: auto;
}
.container-4 h2, h4, p{
  margin: 0;
  padding: 2px;
  text-align: center;
}

.container-4 h2{
  font-size: 18px;
  text-align: center;
  vertical-align: baseline;
  display: block;
}

.container-4 h4{
  font-size: 64px;
}

.container-4 p{
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 30px;
}

/* RESPONSIVO*/ 
@media screen and (max-width: 768px) {
    .container-0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 35px;
    }

.bloco__texto--banner{
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 35px;
    }

.container-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  }

  @media screen and (max-width: 721px){
    .main-container{

        min-width: 1369px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
  } 

  @media screen and (max-width: 768px){
    .container-3{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .navegue{
      width: 82%;
      height: 80%;
    }

  }


